<div class="container">
    <div class="text-center">
        <h3>To Do List</h3>
        <br>
    </div>
    <div class="list-group">
        <!-- class için if ve ngFor kullanım örneği -->
        <a [class]="_task.completed == true ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning'" *ngFor="let _task of _taskList" (click)="updateCompleteStatus(_task)">
            {{_task.taskName}}
            <span *ngIf="_task.completed == true"><br>(Completed)</span>
            <span *ngIf="_task.completed == false"><br>(Still Going On)</span>
            <button class="btn btn-danger" (click)="deleteTask(_task)" style="float: right">
                Delete
            </button>
        </a>
    </div>
    <br>
    <h3>Add New Task</h3>
    <div class="list-group">
        <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="_task.taskName" (keydown.enter)="addTask(_task)"></a>
        <a class="list-group-item"><button class="btn btn-success" (click)="addTask(_task)">Add New Task</button></a>
    </div>
</div>