<div class="container">
        <h2>Gününüzü planlayın ve yönetin..</h2>
        <br>
        <h3>Planlı Yaşamak Bize Neler Kazandırır?</h3>
        Enerjinizi Arttırır, Konsantrasyon Yeteneğinizi Güçlendirir, Telaşlı Olmaktan Kurtulabilirsiniz.
        Etrafınızdaki herkes sizin tam bir kontrol tutkunu olduğunuzu düşünüyor olabilir. Bunun başlıca sebebi ise elbette planlı yaşamız olacaktır. Oysa hayattan ne beklediğini bilen insanların ortak noktaları planlı olmalarıdır. Planlı olmayı başarabilen insanlar hayatta başarılı olmayı garantilemiş insanlardır. Hiçbir şeyin ayaklarına oturdukları yerden gelmeyeceğini ve doğru bir strateji ve planlama ile üstesinden gelemeyecekleri hiçbir şeyin olmadığını bilen planlı insanlar başarının kapılarını sonuna dek açmayı başaran kişilerdir.Planlı yaşamak bize neler kazandırır biz yazımızda sizler için paylaşıyoruz.
        <br><br>
        <h2>Planlı Yaşamak Ve En Bilindik Faydaları</h2>
        <br>
        <h3>Yorgun Olmazsınız</h3>
        Plansız bir kişi gün içerisinde kendini çok yorgun hisseder. Bunun en önemli nedeni ise yapacağı işleri belli bir program doğrultusunda yapmaması ve bir işle ilgilenirken bir yandan diğer işi düşünüyor olmasından kaynaklanır. Oysa planlı bir insan için böyle bir söz konusu dahi olamaz. O zaten neyi ne zaman yapacağını çoktan bir planlama ile hazırlamıştır. Önceliği yaptığı işe vererek geriye kalan işlerini zamanı geldiğinde düşünmeye başlar. Bu sayede odaklanamama gibi problemler de yaşamamış olur.
        <br><br>
        <h3>Plan Yaparak Stresten Kurtulabilirsiniz</h3>
        İşlerinizi tamamlayamama ya da işlerinizin eksik kalması gibi sorunlar kafanızda dönüp duruyorsa bu sizin için tam bir stres kaynağı olacaktır. Oysa planlı olursanız bu stresi de otomatik olarak ortadan kaldırmış olursunuz. Çünkü zaten elinizi attığınız her şey belirli bir program dahilinde gerçekleşecektir.
        <br><br>
        <h3>Telaşlı Olmaktan Kurtulabilirsiniz</h3>
        Telaşlı bir ruh hali mi? Ne gerek var ki. Siz zaten her şeyi planladınız ve her şey olması gerektiği gibi akıp gidiyor. Arada sizden kaynaklı olmayan sorunlar yaşansa bile bu diğer işlerinizi tehlikeye düşürecek boyutta olmayacaktır.
        <br><br>
        <h3>Konsantrasyon Yeteneğinizi Güçlendirir</h3>
        Tek bir hedefe yönelmeniz geri kalan her şeyin aklınızda kapladığı yeri küçültecektir. Elbette bu da size ihtiyacınız olan odaklanmayı sağlayarak işlerinizi çok daha zinde ve sağlıklı bir kafa ile yürütmenizi sağlamanıza olanak tanır. İşinde başarılı olan insanlar genel olarak yüksek konsantrasyona sahip olan planlı kişilerdir.
        <br><br>
        <h3>Enerjinizi Arttırır</h3>
        Her şeyin olması gerektiği zamanda ilerlemesi sizi olumsuz düşüncelerden uzak tutacağı için enerjinizde de gözle görülür bir artış yaşanır. Önünüze çıkan engeller dahi bu enerjinizi sizden almaya yetmez. Özellikle de güne kendinizi motive ederek başladıysanız hayat enerjinizi sevdikleriniz ile rahatça paylaşabilirsiniz.
        <br><br>
        <h3>Kişinin Kendisine Olan İnancını Arttırır</h3>
        Başarılı bir hayat kişide mutlak suretle yükselen bir özgüvene zemin hazırlar. Kişi yaptıklarını gördükçe yeni adımlar atabilmek için kendinde sonsuz bir güç hisseder. Planlı olmanız bu sebeple hem kendinize olan inancı hem de güveni arttırmak için idealdir.
        <br><br>
        <h3>Mutlu Eder</h3>
        İşlerinizin rutininde sorunsuz bir şekilde hallolması sizi ayı zamanda mutlu etmek için yeterli olacaktır. Kazandığınız başarılar, övgüler ve planlı bir yaşam ile kendinize ayırdığınız zaman sizin mutlu olmanızın en büyük anahtarlarından biridir.
        <br><br><br>
        <button type="button" class="btn btn-primary" (click)="sendMeHome()">Send Me to Home..</button> 
        <!-- HTML sayfası üzerinde router kullanılamıyor, ts sayfasında ki yönlendirici metodu çağırıyoruz. -->
</div>