<!--Tüm div'i ben ekledim, ana sayfada gösterilecek olan şeyler burada-->
<div class="container">
    <h1>To Do Application</h1>
    <div class="list-group">
        <a [class]="item.Completed == true ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning'" *ngFor="let item of ItemList" (click)="todoComplete(item)">
            {{item.ItemName}} &nbsp;&nbsp;&nbsp;
            <span *ngIf="item.Completed == true">(Completed)</span>
            <span *ngIf="item.Completed == false">(Still Going On)</span>
            <button class="btn btn-danger" (click)="delete(item)" style="float: right">
                Delete
            </button>
        </a>
    </div>

    <div class="list-group">
        <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="Item.ItemName"></a>
        <a class="list-group-item"><button class="btn btn-success" (click)="addTask(Item)">Add Item</button></a>
    </div>
</div>